<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script src="js/gitdata.js"></script>
    <script src="js/vue.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <div id="app" class="container">
      <div class="card main">
        <div class="card-header d-flex"  v-cloak>
          <div class="flex-grow-1">
            <div class="menus">
              <a href="javascript: void(0)" v-for="item in views" :class="'menu-item active-' + (view === item.key)" @click="switchMenu(item.key)">{{item.name}}</a>
            </div>
          </div>
          <div class="d-flex">
          </div>
        </div>
        <!-- 开发者贡献 -->
        <template v-if="view === 'author'">
          <div class="card-header d-flex">
            <div class="flex-grow-1"></div>
            <div class="d-flex">
              <div v-for="(val, key) in daylist" class="start-item">
                <span :class="'startmenu active-' + (startday === key)" @click="startday = key" >{{val}}</span><span class="ml-1 mr-1 split">/</span>
              </div>
            </div>
          </div>
          <table class="table table-hover card-body table-bordered">
            <thead>
                <tr>
                  <th v-for="field in fields">
                    {{field.name}}
                    <template v-if="field.sort">
                      <a :class="'sort-btn active-' + (sortby.join(' ') === field.key + ' asc')" href="javascript: void(0)" @click="sortdata(field, 'asc')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-up"><polyline points="18 15 12 9 6 15"></polyline></svg>
                      </a>
                      <a :class="'sort-btn active-' + (sortby.join(' ') === field.key + ' desc')" href="javascript: void(0)" @click="sortdata(field, 'desc')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg>
                      </a>
                    </template>
                  </th>
                </tr>
            </thead>
            <tbody>
              <tr v-for="author in authors">
                <td>{{author.name}}</td>
                <td>{{author['commits']}}</td>
                <td>{{author['+lines']}}</td>
                <td>{{author['-lines']}}</td>
                <td>{{author['lines']}}</td>
              </tr>     
            </tbody>  
          </table>
        </template>
        
        <!-- 代码提交量 （日/周/月/年）-->
        <div v-if="view === 'codes'">
          <div class="card-header d-flex" style="justify-content: space-between;">
            <div>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" :class="'btn btn-sm ' + (codeChart.activeLineView === key ? 'btn-primary' : 'btn-secondary')" @click="setLineView(key)" v-for="(val, key) in codeChart.lineViews">{{val.name}}</button>
              </div>
            </div>
            <div class="btn-group mr-2" role="group">
              <div class="dropdown">
                <button @click="codeChart.showAuthors = !codeChart.showAuthors" class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{codeChart.activeAuthor || '全部开发者'}}
                </button>
              </div>
            </div>
            <div class="btn-group mr-2" role="group">
              <button type="button" :class="'btn btn-sm ' + (codeChart.activeType === key ? 'btn-primary' : 'btn-secondary')" @click="setDataType(key)" v-for="(val, key) in codeChart.dataTypes">{{val.name}}</button>
            </div>

            <div class="btn-group" role="group">
              <button type="button" :class="'btn btn-sm ' + (codeChart.activeTime === key ? 'btn-primary' : 'btn-secondary')" @click="setTimePeriod(key)" v-for="(val, key) in codeChart.timePeriods">{{val.name}}</button>
            </div>
          </div>
          <div class="card-header author-filters" v-show="codeChart.showAuthors">
            <a href="javascript: void(0)" @click="setLineAuthor(null)">
              全部
            </a>
            <a href="javascript: void(0)" v-for="author in authors" @click="setLineAuthor(author.name)">
              {{author.name}}
            </a>
          </div>
          <div id="echart-codes" style="width: 100%; height:400px;"></div>
        </div>
      </div>
    </div>
    <script src="js/echarts.min.js"></script>
    <script src="js/moment.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>